language: go

sudo: required

go:
    - 1.7
    - tip

matrix:
    allow_failures:
        - go:tip
    fast_finish: true

before_install:
    - mkdir -p $HOME/bin
    - curl -L https://git.io/vMZjG | sh -s $HOME/bin
before_script: make install
script:
    - make VERBOSE=true test
    - make cs
